@CHARSET "UTF-8";
input{
	border-left:0px;
	border-top:0px;
	border-right:0px;
	border-bottom:1px; 
}
.button{
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
}
#center{
	background-image: url("1.png");
	width: 1000px; 
	height:600px; 
	padding-top: 5px;
}
#login{
	width: 300px; 
	height: 200px; 
	background-color: aqua; 
	margin-top: 100px; 
	padding-top: 50px;
}